.contentContainer{
    max-width: 1120px;
    height: calc(100vh - 5rem);
    margin: 4rem auto 0;
    padding: 0 1rem;
    display: flex;  
    justify-content: space-around;
    align-items: center;
}

.hero{
    width: 50%;
    >span{
        font-size: 1.5rem;
        font-weight: bold;
    }

    h1{
        font-size: 4.5rem;
        margin-top: 2.5rem;
        font-weight: bold;
        line-height: 4.5rem;
        span{
            color: var(--cyan-500) ;
        }
    }

    p{
        font-size: 1.5rem;
        margin-top: 1.5rem;
        line-height: 2.25rem;
        span{
            font-weight: bold;
            color: var(--cyan-500);
        }
    }
}

@media screen and (max-width: 720px){
    .contentContainer{
        max-width: 100%;
        display: flex;
        align-items: flex-start;
        .hero{
            width: 90%;
            font-size: 4rem;
            text-align: center;
            button{
                width: 100%;
            }
        }

       img{
           display: none;
       }
    }
}