.signInButton{
    height: 3rem;
    border-radius: 3rem;
    border: none;
    background-color: var(--gray-800);
    color: var(--white);
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;

    svg{
        width: 20px;
        height: 20px;
    }

    &:hover{
        filter: brightness(0.9);
    }

    transition: filter 0.2s ;

    svg:first-child{
        margin-right: 1rem;
    }

    svg.closeIcon{
        margin-left: 1rem;
    }

    
    
    
}